//===========================================
	// -Helper Classes start
//===========================================

.text-center{
	text-align: center;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

//===========================================
	// -Helper Classes end
//===========================================
