//=======================================================
	// -Global style start
//=======================================================


// Default style start
*{
  scroll-behavior: smooth;
}
*{
  outline: none;
}
body{
  background: url(../images/background.png) no-repeat center center fixed; 
}
* {
  box-sizing: border-box;
}
html, body {
  font-family: $font-default;
	font-size: 8px;
	
	@include mq('sm', min) {
    font-size: 10px;
  }
	@include mq('md', min) {
    font-size: 12px;
  }
	@include mq('lg', min) {
    font-size: 14px;
  }
  @include mq('xl', min) {
    font-size: 16px;
  }
}
.m-container{
  width: rem(1675);
  margin: 0 auto;
  position: relative;
}
@include mq-only("xl", "xxl"){
.m-container{
  width: rem(1200);
}
}
@include mq-only("xs", "xl"){
  .m-container{
    width: 100%;
  }
  }
@include mq-only("lg","xl"){
  p{
  font-size: rem(12);
  }
}
@include mq-only("xs","lg"){
  p{
  font-size: 16px;
  line-height: rem(36)!important;
  }
  body.body h3{
    font-size: rem(28);
  }
}
//=======================================================
	// -Global style  end
//=======================================================