//===========================================
	// -Home Page start
//===========================================

.headings{
	margin-top: rem(75);
}
.headings h1{
	font-family: 'Tangerine', cursive;
}
.headings h2{
	font-weight: 600;
	margin:$heading-margin;
}
.home-content{
	width: $container-90;
	margin: 0 auto;
	display: none;
}
.headings span{
	font-family: $font-default;
	font-size: rem(10);
	font-weight: normal;
	color: $primary-color;
	margin-left: rem(10);
}
.paragraphs{

}
.paragraphs p{
	color: $primary-color;
	margin: rem(19) 0;
}
strong{
	color: $black;
}
.home-content,.about-content,.contact-content,.portfolio-content {
	animation-duration: 1s;
  }
  @include mq-only("tl", "xxl"){
	  .headings h2{
		  margin: 30px 0 ;
	  }
  }
  @include mq("tl",max){
	  .wrapper{
		height: 100%;
	  }
	 
  }
//===========================================
	// -Home Page end
//===========================================
