//===========================================
	// -Header start
//===========================================
.wrapper{
	height: rem(960); 
	background-color: white;
	display: flex;
	flex-wrap: wrap;
}
.profile-image{
	height: 100%;
	width: 45%;
	position: relative;
	background-position: center;
	background-size: cover;
}
.profile-image img{
	height: 100%;
	width: 100%;
}
.social-div{
	position: absolute;
	bottom: rem(45);
	right: 0;
	transform: translateX(50%);
	height: rem(306);
	width: rem(52);
	background-color: black;
	border-radius: rem(2);
	.social-icon{
		color: white;
		font-size: rem(22);
		display: block;
		padding: rem(14) rem(15);
		transition: 0.6s;
	}
	.social-icon:hover{
		color: $secondry-color;
	}
}
.side-logo{
	position: absolute;
	bottom: rem(156);
	left: 0;
	transform: translateX(-100%);
	z-index: 2;
}
.content-container{
	flex: 1;
	height: 100%;
}
.hamburger{
		display: none;
}
@include mq("tl",max){
	.profile-image{
		width: 100%;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		height: 100vh;
	}
	.social-div{
		display: none;
	}
	.content-container{
		width: 100%;
		background-color: white;
	}
}
//===========================================
	// -Header end
//===========================================
