//===========================================
// -Navbar start
//===========================================
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	background-color:#39464e; 
	position: sticky!important;
	top: 0;
	z-index: 99999;
}
.navbar-nav{
	margin-right: rem(122);
}
.nav-item{
	margin-right: 26px;
	.nav-link{
		font-size: 11px;
		color: white!important;
	}
}
.nav-item a {
	display: block;
	text-align: center;
	padding: rem(14) rem(16);
	text-decoration: none;
}
.searchbar {
 margin-right: rem(120);
}
.searchbar i{
	color: $white;
	margin-right: rem(35);
}
.searchbar input{
	font-size: rem(12);
	background-color: transparent;
	border: none;
	padding: rem(5);
	outline: white; 
}
.searchbar input::placeholder{
	color: $white;
}
.logo{
	width: 260px;
}
@include mq("custom" , max){
	.searchbar {
		margin-right: 0;
	   }
}
@include mq("lg",max){
	.navbar-nav{
		margin-right: 0;
	}
}
//===========================================
// -Navbar end
//===========================================
